<nav class="navbar navbar-dark fixed-top">
	<a class="navbar-brand mx-auto" href="#">
		<img src="../assets/images/claw.png">Zoologico
	</a>
</nav>
<div class="container">
  <div class="">
    <form [formGroup]="Frm" class="mt-5 shadow p-3 mb-5 bg-white rounded">
      <h3>Gestion de Animales</h3>
      <hr>
      <div class="form-group ">
        <div class="row">
            <div class="col-6">
                <label>
                    Nombre
                  </label>
                  <input type="text" class="form-control" required formControlName="nombre">
            </div>
            <div class="col-6">
                <label>
                    Nombre Cientifico
                  </label>
                  <input type="text" class="form-control" required formControlName="nombrecien">
              </div>
        </div>
       
      </div>
      <div class="form-group">
          <div class="row">
              <div class="col-6">
                  <label>
                      Descripcion
                    </label>
                    <input type="text" class="form-control" required formControlName="descripcion">
              </div>
              <div class="col-6">
                  <label>
                      Especies
                    </label>
                    <ng-select class="custom" required  [items]="especieslist" bindLabel="nombreEspecie" placeholder="'Seleccione'" formControlName="especies"></ng-select>                  
              </div>
          </div>
      </div>
      <div class="form-group">
          <div class="row">
              <div class="col-6">
                  <label>
                      Tipo de Animal
                    </label>                
                    <ng-select class="custom" required  [items]="tipoanimallist" bindLabel="nombreTipoAnimal" placeholder="'Seleccione'" formControlName="tipoanimal"></ng-select>  
              </div>
          </div>
      </div>
      <div class="form-group">
          <div class="row">
              <div class="col-6">
                  <label>
                      Cuidador
                    </label>                    
                    <ng-select class="custom" required  [items]="cuidadores" bindLabel="idPersona.nombreCompleto" placeholder="'Seleccione'" formControlName="cuidador"></ng-select> 
              </div>
              <div class="col-6">
                </div>
          </div>
      </div>    
      <div class="form-group">
        <button class="btn btn-primary" *ngIf="!editar" (click)="GuardarAnimal()">
          Guardar Animal <span class="badge badge-primary"></span>
        </button>
        <button class="ml-1 btn btn-danger" (click)="Eliminar()">
          Eliminar Animal <span class="badge badge-primary"></span>
        </button>
        <button class="btn btn-primary" *ngIf="editar" (click)="EditarAnimal()">
          Modificar Animal <span class="badge badge-primary"></span>
        </button> 
      </div>
    </form>
  </div>
  <div class="row mx-auto">
    <ag-grid-angular style="width: 100%; height: 500px; " class="ag-theme-blue " [rowData]="rowData"
      [columnDefs]="columnDefs" rowSelection="single"  #Grid  (rowDoubleClicked)="Editar()"  [animateRows]="true"   [floatingFilter]="true"  [enableFilter]="true">
    </ag-grid-angular>
  </div>
</div>